<div class="login-container">
	<p-card header="Login" styleClass="login-card">
		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<div class="p-fluid">
				<div class="p-field">
					<label for="email">Email</label>
					<input id="email" type="text" pInputText formControlName="email" />
					@if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
					<small class="p-error"> Please enter a valid email address. </small>
					}
				</div>

				<div class="p-field">
					<label for="password">Password</label>

					<span class="password-field">
						<i
							[class]="showPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"
							(click)="togglePasswordVisibility()"
							(keydown.enter)="togglePasswordVisibility()"
							(keydown.space)="togglePasswordVisibility()"
							tabindex="0"
							role="button"
							[attr.aria-label]="showPassword ? 'Hide password' : 'Show password'"
							style="font-size: 1.5rem"
						></i>
						<input
							id="password"
							[type]="showPassword ? 'text' : 'password'"
							pInputText
							formControlName="password"
						/>
					</span>

					@if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
					<small class="p-error"> Password must be at least 6 characters long. </small>
					}
				</div>

				@if(errorMessage) {
				<p class="p-error">{{ errorMessage }}</p>
				}

				<span>
					Do not have an account ?
					<a [routerLink]="['/register']"> Register </a>
				</span>

				<button pButton type="submit" label="Login" [disabled]="loginForm.invalid">
					<!-- login -->
				</button>
			</div>
		</form>
	</p-card>
</div>
