$card-width: 700px;
$card-padding: 2rem;
$spacing: 1rem;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
$mobile-breakpoint: 730px;

// Mixins
@mixin card-styles {
	padding: $card-padding;
	width: $card-width;
	box-shadow: $box-shadow;
}

.register-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

:host ::ng-deep .register-card {
	@include card-styles;

	.p-card-body {
		padding-top: 1rem;
	}
}

.p-field {
	margin-bottom: 1.5rem;
}

.password-field {
	position: relative;
	i {
		position: absolute;
		bottom: -3px;
		right: 10px;
		cursor: pointer;
	}
}

button[type="submit"] {
	width: 100%;
	margin-top: $spacing;
}

@media (max-width: $mobile-breakpoint) {
	:host ::ng-deep .register-card {
		@include card-styles;
		width: 100%;
	}
}
