@mixin circle($size) {
	width: $size;
	height: $size;
	background-color: var(--p-primary-color);
	color: var(--p-primary-color-text);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-weight: bold;
	text-transform: uppercase;
}

@mixin button($bg-color) {
	padding: var(--spacing-small) var(--spacing-medium);
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	font-size: var(--font-size-medium);
	color: var(--p-primary-color-text);
	background-color: $bg-color;
	transition: background-color var(--transition-speed) ease;

	&:hover {
		background-color: darken($bg-color, 10%);
	}
}

.calendar-container {
  height: 100vh;
  width: 100%;
  
  ::ng-deep .fc {
    height: 100vh !important;
    border: none;
  }
  ::ng-deep .fc-view-harness {
    border-radius: var(--border-radius);
  }
}
